
<%- include('../includes/admin/adminHead.ejs') %>
<%- include('../includes/admin/adminNavbar.ejs') %>

<style>
  .pagination-btn{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pagination-btn a{
    text-decoration: none;
    color: #ececec;
  }
  .pagination-btn a :hover{
    color: #111;
  }
  .pagination-btn button:hover{
    color: #111;
  }
  .pagination-btn button:active{
    background-color: #fff;
    color: #111!important;
  }
</style>

<div class="main-panel">
    <div class="content-wrapper">
        <div><a class="badge badge-outline-primary" href="/admin/add-banner">Add Banner</a></div>
        <div class="row mt-5">
            <div class="col-12 grid-margin">

              <div class="form-group col-12 col-sm-6">
                <form action="/admin/banner">
                <div class="input-group">
                  <input type="text" class="form-control" value="<%= search %>" name="search" placeholder="Search here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-primary" type="submit">Search</button>
                  </div>
                </div>
              </form>
              </div>

              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Banners</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> Name </th>
                          <th> Type </th>
                          <th> Description </th>
                          <th> Head </th>
                        </tr>
                      </thead>
                      <tbody>

                      <% for ( let banner of banners ) { %>
                          <tr>
                            <td style="width: 150px;height: auto; border-radius: 0;">
                                <img style="width:'150px'; height: auto;border-radius: 0;"  src="/images/product-images/<%= banner.image %>" alt="">
                            </td>
                            <td>
                              <span class="pl-2"> <%= banner.typeHead %> </span>
                            </td>
                            <td class="description-cell">
                              <div class="description-content">
                                <%= banner.description %>
                              </div>
                              <button class="toggle-description">Show More</button>
                            </td>
                              
                            <td> <%= banner.mainHead %> </td>
                            <td>
                              <div class="row">
                                <div><a class="badge badge-outline-primary mr-2" href="/admin/edit-banner/<%= banner._id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg></a>
                                </div>

                              <% if( banner.status ) { %>
                                <div><a id="delete" class="badge badge-outline-danger" href="/admin/delete-banner/<%= banner._id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg></a>
                                </div>

                              <% } else { %>
                                <div><a id="restore" class="badge badge-outline-success" href="/admin/restore-banner/<%= banner._id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                    </svg></a>
                                </div>

                              <% } %>
                              </div>
                            </td>
                          </tr>
                          
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Pagination buttons -->
              <div class="pagination-btn">
                <% if( currentPage !== 1 ) { %> 
                  <a href="/admin/banner?page=1<% if( search ) { %>&search=<%= search %><% } %>"><button type="button" class="btn btn-outline-secondary 1">1</button></a>
                <% } %>
                <% if( currentPage > 2 ) { %>
                    <a href="/admin/banner?page=<%= prevPage %><% if( search ) { %>&search=<%= search %><% } %>"><button type="button" class="btn btn-outline-secondary 2"><%= prevPage %></button></a> 
                <% } %>
                <a href="/admin/banner?page=<%= currentPage %><% if( search ) { %>&search=<%= search %><% } %>"><button type="button" class="btn btn-outline-secondary 3 active"><%= currentPage %></button></a>
                <% if( hasNextPage ) { %>
                    <a href="/admin/banner?page=<%= nextPage %><% if( search ) { %>&search=<%= search %><% } %>"><button type="button" class="btn btn-outline-secondary 4"><%= nextPage %></button></a> 
                <% } %>    
                <% if( nextPage !== lastPage && currentPage !== lastPage ) { %>
                    <a href="/admin/banner?page=<%= lastPage %><% if( search ) { %>&search=<%= search %><% } %>"><button type="button" class="btn btn-outline-secondary 5"><%= lastPage %></button></a>
                <% } %>
              </div>

            </div>
          </div>
          </div>
        </div>
    </div>
</div>



<!--======================= modal =======================-->

<% if( success.length > 0 ) { %>
  <!-- The popup message modal -->
<div id="popupModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-body">
        <h5 class="modal-title">Success</h5><br>
        <p><%= success %></p>
      </div>
    </div>
  </div>
</div>
<% } %>



<!-- This include contains some css styles of this page for the description and
contains the css style and js script file for the modal -->
  <%- include('../includes/admin/bannerManagement.ejs') %>

  <%- include('../includes/admin/adminFooter.ejs') %>