
<%- include('../includes/admin/adminHead.ejs') %>
<%- include('../includes/admin/adminNavbar.ejs') %>

<style>
    .pagination-btn{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    }
    .pagination-btn a{
        text-decoration: none;
        color: #ececec;
    }
    .pagination-btn a :hover{
        color: #111;
    }
    .pagination-btn button:hover{
        color: #111;
    }
    .pagination-btn button:active{
        background-color: #fff;
        color: #111!important;
    }
    .category-name span p{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    .modal-content p{
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media( max-width : 499px){
        .modal-content p{
        width: calc(100% - 44px);
        overflow: hidden;
        text-overflow: ellipsis;
    }
    }
</style>


<div class="main-panel">
    <div class="content-wrapper">

        <!-- ======= Form ======== -->
        
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add category</h4>
                    <div id="errorContainer" class="alert alert-danger" style="display: none;"></div> <!-- Error container -->
                    <% if( err.length > 0 ) { %>
                        <div id="catExist" class="alert alert-danger"><%= err %></div> <!-- Error container exist category -->
                        <% } %>
                        <form class="forms-sample" action="/admin/add-category" method="POST" id="category">
                            <div class="form-group">
                                <input type="text" name="category" class="form-control" id="category-field" placeholder="Add category" required>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Add</button>    
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- ======================== success model ========================= -->
            
            <% if( success.length > 0 ) { %>
                <!-- The popup message modal -->
                <div id="popupModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-body">
                    <h5 class="modal-title">Success</h5><br>
                    <p><%= success %></p>
                    </div>
                </div>
                </div>
            </div>
        <% } %>
  
  
        
        
        <!-- ======================== Table ========================= -->
        <div class=" row   mt-3">
            <div class="col-3 col-sm-6">
              <div class="row m-0">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <form action="/admin/category">
                      <select class="form-control" name="sortData">
                        <option value="category" >Category</option>
                        
                      </select>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <select class="form-control" name="sortOrder">
                        <option>Ascending</option>
                        <option>Descending</option>
                      </select>
                    </div>
                  </div>
                </div>
        
                <div class="sort form-group "><button class=" btn btn-primary form-control">
                  sort
                </button></div>
              </form>  
              </div>
            </div>
        
            </div>
        
            <div style="margin-top: -10px;" class="card">
            <div class="card-body">
        
              <div class=" col-3 col-sm-6 grid-margin">
                <div class="form-group col-6 mr-1">
                  <form action="/admin/category">
                  <div class="input-group">
                    <input type="text" class="form-control" value="<%= search %>" name="search" placeholder="Search here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" type="submit">Search</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>

                <h4 class="card-title">Category</h4>
                <div class="table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                            <th> Category Name </th>
                            <th> Status </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let items of category ) { %>
                            <tr>
                       
                                <td class="category-name">
                                    <span class="pl-2"><p><%= items.category %></p></span>
                                </td>
        
                                <td>
                                    <a href="/admin/edit-category/<%= items._id %>"><button type="button" class="btn btn-dark btn-icon-text"> Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                                    </button></a>
                                    <% if( items.status) { %>
                                    <div class="badge"><a class="badge badge-outline-success" href="/admin/unlist-category/<%= items._id %>">Listed</a></div>
                                    <% } else { %>
                                        <div class="badge"><a class="badge badge-outline-danger" href="/admin/list-category/<%= items._id %>">Unlisted</a></div>
                                    <% } %>
                                </td>
                                
                                </tr>
                        <% } %>
                        
                    </tbody>
                    </table>
                </div>
                </div>
            </div>

            <!-- Pagination buttons -->
            <div class="pagination-btn">
                <% if( currentPage !== 1 ) { %> 
                    <a 
                    href="/admin/category?page=1<% if( search ) { %>&search=<%= search %><% } %><% if ( sortData ) {%>&sortData=<%= sortData %><% } %><% if ( sortOrder ) {%>&sortOrder=<%= sortOrder %><% } %>"
                    ><button type="button" class="btn btn-outline-secondary 1">1</button></a>
                <% } %>
                <% if( currentPage > 2 ) { %>
                    <a 
                    href="/admin/category?page=<%= prevPage %><% if( search ) { %>&search=<%= search %><% } %><% if ( sortData ) {%>&sortData=<%= sortData %><% } %><% if ( sortOrder ) {%>&sortOrder=<%= sortOrder %><% } %>"
                        ><button type="button" class="btn btn-outline-secondary 2"><%= prevPage %></button></a> 
                <% } %>
                    <a 
                    href="/admin/category?page=<%= currentPage %><% if( search ) { %>&search=<%= search %><% } %><% if ( sortData ) {%>&sortData=<%= sortData %><% } %><% if ( sortOrder ) {%>&sortOrder=<%= sortOrder %><% } %>"
                    ><button type="button" class="btn btn-outline-secondary 3 active"><%= currentPage %></button></a>
                <% if( hasNextPage ) { %>
                    <a 
                    href="/admin/category?page=<%= nextPage %><% if( search ) { %>&search=<%= search %><% } %><% if ( sortData ) {%>&sortData=<%= sortData %><% } %><% if ( sortOrder ) {%>&sortOrder=<%= sortOrder %><% } %>"
                        ><button type="button" class="btn btn-outline-secondary 4"><%= nextPage %></button></a> 
                <% } %>    
                <% if( nextPage !== lastPage && currentPage !== lastPage ) { %>
                    <a 
                    href="/admin/category?page=<%= lastPage %><% if( search ) { %>&search=<%= search %><% } %><% if ( sortData ) {%>&sortData=<%= sortData %><% } %><% if ( sortOrder ) {%>&sortOrder=<%= sortOrder %><% } %>"
                        ><button type="button" class="btn btn-outline-secondary 5"><%= lastPage %></button></a>
                <% } %>
            </div>

            </div>
        </div>

    </div>
</div>

</div>
</div>

<%- include('../includes/validations/addCategoryV.ejs') %>

<%- include('../includes/admin/adminFooter.ejs') %>