
<%- include('../includes/admin/adminHead.ejs') %>
<%- include('../includes/admin/adminNavbar.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">

        <div><a class="badge badge-outline-primary" href="/admin/add-products">Add products</a></div>


<div class="row mt-5">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Products</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Brand Name </th>
                  <th> Quantity </th>
                  <th> Category </th>
                  <th> Price </th>
                </tr>
              </thead>
              <tbody>

                <% for ( let product of products ) { %>
                    <tr>
                        <td>
                          <span class="pl-2"> <%= product.name %> </span>
                        </td>
                        <td> <%= product.description %> </td>
                        <td> <%= product.brand %> </td>
                        <td> <%= product.quantity %> </td>
                        <td> <%= product.category.category %> </td>
                        <td> <%= product.price %> </td>
                        <td>
                              <div class="row">
                                  <div><a class="badge badge-outline-primary mr-2" href="/admin/edit-product/<%= product._id %>">Edit</a></div>
                                  <div><a class="badge badge-outline-danger" href="/admin/delete-product/<%= product._id %>">Delete</a></div>
                              </div>
                        </td>
                      </tr>
                <% } %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>



  <%- include('../includes/admin/adminFooter.ejs') %>