<%- include('../includes/userHead.ejs') %>
<%- include('../includes/userNavbar.ejs') %>

<style>
    .main-div{
        display: flex;
        justify-content: center;

    }
    .profile-container {
        /* border: .5px solid #6e6e6e2f; */
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    section {
        width: 80%;
    }
    .edit-image{
        text-decoration: none;
    }
    input {
        border-radius: 0!important;
    }
    input.form-control, textarea {
        background-color: #fff;
    }
    input:disabled{
        border: none;
        background-color: #fff;
        font-weight: bold;
    }
    .fs--1 a{
        color: #7a7a7a;
        padding: 10px;
    }

    .fs--1 a.active{
        background-color: #7a7a7a;
        color: #fff;
    }
    
    .fs--1 a:hover {
        background-color: #7a7a7a;
        color: white;
    }
</style>
<div class="main-div m-5">
<section class="font-1">
    <div class="container profile-container p-5">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <div class="row font-1">
                    <div class="col text-center text-lg-left">
                        <a href="" data-lightbox="profile-pic">
                            <img class="img-thumbnail radius-primary" src="/images/profile/alt-profile.png" alt="Profile Image" width="150">
                        </a>
                        
                        <h5 class="mb-0 mt-3"><%= user.firstName %> <%= user.lastName %></h5>
                        <p class="mb-0"><%= user.email %></p>
                        <hr class="color-9">
                        <div class="fs--1 fw-600">
                            <a id="orders-link" class=" d-block mb-2" href="/user/orders">Orders</a>
                            <a id="bio-link" class=" d-block mb-2" href="/user/edit-bio">Edit Bio</a>
                            <a id="addresses-link" class=" d-block mb-2" href="/user/address">Manage Addresses</a>
                            <!-- <a id="password-link" class=" d-block mb-2" href="/user/change-password">Change Password</a> -->
                        </div>                          
                    </div>
                </div>
            </div>
            <div class="col-md-9 pl-lg-5">
                <div class="row">
                    
                </div>
                <form class="mt-5 row">
                    <div class="col-md-6">
                        <input class="form-control mb-3" type="text" value="<%= user.firstName %>" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <input class="form-control mb-3" type="text" value="<%= user.lastName %>" placeholder="Last Name">
                    </div>
                    <div class="col-12">
                        <input class="form-control mb-3" type="email" value="<%= user.email %>" placeholder="Email">
                    </div>
                    <div class="col-12">
                        <input class="form-control mb-3" type="number" value="<%= user.mobile %>" placeholder="Mobile">
                    </div>
                    <div>
                        <input class="form-control mb-3" type="date"  placeholder="08-10-1999">
                    </div>
                <!--     -->
                <div class="mt-4 btn btn-dark rounded-0">Save changes</div>
                </form>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
</div>

<script>

</script>



<%- include('../includes/userFooter.ejs') %>
<%- include('../includes/end.ejs') %>