<%- include('../includes/userHead.ejs') %>
<%- include('../includes/userNavbar.ejs') %>

<style>
    .main-div{
        display: flex;
        justify-content: center;

    }
    .profile-container {
        /* border: .5px solid #6e6e6e2f; */
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    section {
        width: 80%;
    }
    .edit-image{
        text-decoration: none;
    }
    input {
        border-radius: 0!important;
    }
    input.form-control, textarea {
        background-color: #fff;
    }
    input:disabled{
        border: none;
        background-color: #fff;
        font-weight: bold;
    }
    .fs--1 a{
        color: #7a7a7a;
        padding: 10px;
    }

    .fs--1 a.active{
        background-color: #7a7a7a;
        color: #fff;
    }
    
    .fs--1 a:hover {
        background-color: #7a7a7a;
        color: white;
    }
</style>
<div class="main-div mt-5">
<section class="font-1">
    <div class="">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                
            
            <div class="">
                <div class="table">
                    <table>
                        <thead>
                            <th>Date</th>
                            
                            <th>Amount</th>
                            <th>Status</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <% for ( let order of orders ){ %>
                                <% var timeDiff = now - order.date  %>
                                <% var days = timeDiff / ( 1000 * 60 * 60 * 24 ) %>

                            <tr>
                                <td>
                                    <%= moment(order.date).format(shortDateFormat) %> 
                                </td>
                                
                            <td> <%= order.totalPrice %></td>
                            <td id="order-status-<%= order._id %>"><%= order.orderStatus %></td>
                            <td> <% if( order.orderStatus === 'Delivered' || order.orderStatus === 'Cancelled' || order.orderStatus === 'Returned') { %><% } else { %> 
                                    <button style="font-size: 12px;" id="cancel-<%= order._id %>" onclick="cancelOrder('<%= order._id %>')" class="btn btn-danger rounded-0"> Cancel</button> 
                                <% } %>
                                <% if( order.orderStatus === 'Delivered' && days < 30 ) { %>
                                    <button style="font-size: 12px;" id="return-<%= order._id %>" onclick="returnOrder('<%= order._id %>')" class="btn btn-info rounded-0">Return</button>
                                <% } %>
                            </td>
                            <td><a  style="font-size: 12px;" class="btn btn-dark rounded-0" href="/user/view-order-products/<%= order._id %>">View products</a></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    async function cancelOrder(orderId){
        try {
            console.log(orderId);
            const status = 'Cancelled'
            const cancel = await axios.patch('/user/cancel-order',{orderId,status})
            if (cancel.data.success){
                console.log(cancel.data);
                const cancelButton = document.getElementById(`cancel-${orderId}`)
                const order_status = document.getElementById(`order-status-${orderId}`)
                cancelButton.style.display = 'none'
                order_status.innerHTML = cancel.data.status
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function returnOrder ( orderId ) {
        const response = await axios.patch( '/user/return-order',{
            orderId
        })


    }
</script>

<div class="row overflow">
    <%- include('../includes/userFooter.ejs') %>
</div>
<%- include('../includes/end.ejs') %>