<%- include('../includes/userHead.ejs') %>
<%- include('../includes/userNavbar.ejs') %>

 
<style>
    .shop-now a:hover{
        color: #111;
    }

    .container-modal {
    padding: 2rem 0rem;
  }

  .modal-dialog {
    position: fixed;
    top: auto;
    left: auto;
    right: 0.5rem;
    bottom: 0;
    margin-bottom: 0.5rem;
    min-width: 300px;
    max-width: 400px;
    overflow-y: auto;
  }

  .modal-body {
    max-height: calc(100vh - 210px);
  }

  .notice {
    padding: 0rem 1rem;

    h4 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }

  .icon {
    font-size: 3rem;
  }

</style>
<section class="shopping-cart spad mt-5">
    <div class="container">
        <% if( cartItems && cartItems.items.length > 0){ %>
            <div class="row" id="cart-table">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for ( let item of cartItems.items ) { %>
                                    <% var totalPrice = item.productId.price * item.quantity  %>
                                    <%  if( item.quantity > item.productId.quantity ){ var quantity = item.productId.quantity } else { var quantity = item.quantity } %>
                                <tr id="cart-row-<%= item._id %>">
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="/images/product-images/<%= item.productId.image[0] %>" width="100" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6><%= item.productId.name %></h6>
                                            <h5 id="price-<%= item.productId._id %>">₹ <%= item.productId.price %></h5>
                                        </div>
                                    </td>
                                <% if( item.productId.quantity > 0){ %>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <span id="dec-<%= item.productId._id %>" onclick="decreaseCart('<%= item.productId._id %>')" class="fa fa-angle-left dec qtybtn"></span>
                                                    <input id="qty-<%= item.productId._id %>" type="text" disabled value="<%= quantity %>">
                                                <span id="inc-<%= item.productId._id %>" onclick="addToCart('<%= item.productId._id %>')" class="fa fa-angle-right inc qtybtn"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td id="total-<%= item.productId._id %>" class="cart__price">₹ <%= totalPrice %></td>
                                    <td class="cart__close"><i onclick="removeCart('<%= item._id %>')" style="cursor: pointer;" class="fa fa-close"></i></td>
                                    <% } else { %>
                                        <td id="stockOut"> <label onload="removeCart('<%= item._id %>')"  class="text-danger fw-bold" for="">Out of Stock</label> </td>
                                        <td></td>
                                        <td class="cart__close"><i onclick="removeCart('<%= item._id %>')" style="cursor: pointer;" class="fa fa-close"></i></td>
                                <% } %>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="/cart"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount Coupons</h6>
                        <form id="coupon-form">
                            <input id="coupon-input" type="text" placeholder="Coupon code">
                            <button onclick="applyCoupon(event)" >Apply</button>
                        </form>
                        <div id="coupon-message" class="coupon-message"></div>
                    </div>
                    <div class="container">
                        <button type="button" class="btn btn-danger rounded-0 badge-dar mb-2" data-toggle="modal" data-target="#discountModal">
                          Show Available coupons
                        </button>  
                      </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span id="subtotal">₹ <%= totalAmount[0].total %></span></li>
                            <li>Coupon discount <span id="coupon-discount"><% if( discounted ) { %>- ₹ <%= discounted.discountAmount %> <% } else { %>₹ 0<% } %></span></li>
                            <li>Total <span id="total"><% if( discounted ) { %>₹ <%= discounted.discountedTotal %><% } else { %>₹ <%= totalAmount[0].total %><% } %></span></li>
                        </ul>
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="col-12 mt-5">
                <h1 class="text-center"><b>Cart is empty...</b></h1>
                <br>
                <h3 class="text-center shop-now" ><a href="/shop">Shop now</a></h3>
            </div>
        <% } %>
        <div style="display: none;" class="col-12 mt-5" id="empty-cart">
            <h1 class="text-center"><b>Cart is empty...</b></h1>
            <br>
            <h3 class="text-center shop-now" ><a href="/shop">Shop now</a></h3>
        </div>
    </div>
</section>



<div class="modal fade top rounded-0" style="background-color: #000000a2;" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-dialog-centered modal-full-width modal-full-width" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header bg-danger rounded-0">
        <h5 class="modal-title" id="successModalLabel">OOPS!!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Oops! It seems you've reached the maximum quantity of products available for purchase.</p>
      </div>
    </div>
  </div>
</div>



<!-- Coupon modal -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      
      <% if( availableCoupons && availableCoupons.length > 0) { %>
        <% for( coupon of availableCoupons ) { %>

            <div class="modal-content rounded-0">
                <div class="modal-body text-center">
                    <div class="icon text-danger">
                        <i class="fas fa-gift"></i>
                    </div>
                    <div class="notice">
                        <% if( coupon.discountType === 'percentage') { %>
                            <h4>Get <%= coupon.discount %>% Discount</h4>
                        <% } else if( coupon.discountType === 'fixed-amount' ) { %>
                            <h4>Get ₹ <%= coupon.discount %> Discount</h4>
                        <% } %>
                        <p>This coupon only available for purchase above ₹ <%= coupon.minimumAmount %></p>
                        <p>And valid from <%= moment(coupon.startingDate).format(shortDateFormat) %> to <%= moment(coupon.expiryDate).format(shortDateFormat) %> </p>
                        <p>Use promo code <spans style="font-size: medium;" class="badge badge-info"><%= coupon.name %></span></p>
                    </div>
                    <div class="code"></div>
                </div>
            </div>
        <% } %>
        <% } %>
      
    </div>
  </div>
  
  


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

    
    // Cheking the quantity... If quantity is 1 it will hide left arrow
    window.addEventListener('DOMContentLoaded', () => {
        const qtyInputs = document.querySelectorAll('input[id^="qty-"]');
    qtyInputs.forEach((qtyInput) => {
        console.log(1111);
        const productId = qtyInput.id.split('-')[1];
        const span = document.getElementById(`dec-${productId}`);
        const quantity = parseInt(qtyInput.value);
        if (quantity < 2) {
            span.style.display = 'none';
        }
    });
});


const couponForm = document.getElementById( 'coupon-form' )
    async function applyCoupon(event){
        event.preventDefault()
        const totalCartPrice = document.getElementById('total')
        const couponDiscount = document.getElementById('coupon-discount')
        const total = Number(document.getElementById('total').innerHTML.split(" ")[1])
        console.log(typeof total);
        const couponCode = document.getElementById( 'coupon-input' ).value.trim()
        const invalidRegex = /[ .]/
        if( invalidRegex.test(couponCode) || couponCode === ""){
            alert('Enter a valid Coupon name')
            return
        }
        const response = await axios.post('/apply-coupon',{ couponCode, total })

        if( response.data.success) {
            const couponMessage = document.getElementById( 'coupon-message' )
            couponMessage.innerHTML = '<p>Coupon applied</p>'
            if( response.data.discounted ) {
                    totalCartPrice.innerHTML = `₹ ${response.data.discounted.discountedTotal}`
                    couponDiscount.innerHTML =  `-₹ ${response.data.discounted.discountAmount}`
                } 
        } else {
            console.log(response.data.message);
            const couponMessage = document.getElementById( 'coupon-message' )
            couponMessage.innerHTML = `<p class="text-danger" >${response.data.message}</p>`
        }
        

    }


    const totalCartPrice = document.getElementById('total')

    const subtotalCartPrice = document.getElementById('subtotal')
    const cartTable = document.getElementById('cart-table')
    const emptyCart = document.getElementById('empty-cart')
    const stockOut = document.getElementById('stockOut')
    if(stockOut){
        console.log('yes');
    } else {
        console.log('no');
    }

    async function addToCart( productId ){

        try {
            const totalCartPrice = document.getElementById('total')
            const subtotalCartPrice = document.getElementById('subtotal')
            const couponDiscount = document.getElementById('coupon-discount')
            const cartTable = document.getElementById('cart-table')
            const emptyCart = document.getElementById('empty-cart')
            const stockOut = document.getElementById('stockOut')
            const qty = $(`#qty-${productId}`)
            const dec = $(`#dec-${productId}`)
            const priceTag = document.getElementById(`price-${productId}`).innerHTML.split(" ")
            const currentTotal = document.getElementById(`total-${productId}`).innerHTML.split(" ")
            const price = Number(priceTag[1])
            const totalNumber = Number(currentTotal [1])
            
            const total = document.getElementById(`total-${productId}`)
            const response = await axios.post('/add-to-cart',{productId})
            if( !response.data.login ){
                return window.location.href = '/login'
            } 
            if( response.data.outOfStock){
                const bdy = document.body
                const modal = document.getElementById('modalCookie1')
                const successModal = document.getElementById("successModal");

                // Show the success modal
                successModal.classList.add("show");
                successModal.style.display = "block";
                bdy.style.overflow = 'hidden'
                
                // Hide the success modal when clicked anywhere
                successModal.addEventListener("click", () => {
                    successModal.classList.remove("show");
                    successModal.style.display = "none";
                    bdy.style.overflow = 'auto'
                    
                });
            }
            if( response.data.success === true){
                console.log(response.data.totalPrice);
                console.log(response.data.discounted);
                const currentQty = parseInt(qty.val())
                const updatedQty = currentQty + 1
                const totalPrice = updatedQty * price
                updatedQty > 1 ? dec.show() : null ;
                total.innerHTML = `₹ ${totalPrice}`
                totalCartPrice.innerHTML = `₹ ${response.data.totalPrice[0].total}`
                subtotalCartPrice.innerHTML = `₹ ${response.data.totalPrice[0].total}`
                if( response.data.discounted ) {
                    totalCartPrice.innerHTML = `₹ ${response.data.discounted.discountedTotal}`
                    couponDiscount.innerHTML =  `-₹ ${response.data.discounted.discountAmount}`
                } else {
                    totalCartPrice.innerHTML = `₹ ${response.data.totalPrice[0].total}`
                }
                qty.val(updatedQty)
            }  
            
        } catch (error) {
            console.log(error.status);
        }
    }

        async function decreaseCart(productId) {
                try {
                    const totalCartPrice = document.getElementById('total')
                    const subtotalCartPrice = document.getElementById('subtotal')
                    const couponDiscount = document.getElementById('coupon-discount')
                    const cartTable = document.getElementById('cart-table')
                    const emptyCart = document.getElementById('empty-cart')
                    const stockOut = document.getElementById('stockOut')
                    const qty = $(`#qty-${productId}`)
                    const total = document.getElementById(`total-${productId}`)
                    const dec = $(`#dec-${productId}`)
                    const priceTag = document.getElementById(`price-${productId}`).innerHTML.split(" ")
                    const currentTotal = document.getElementById(`total-${productId}`).innerHTML.split(" ")
                    const price = Number(priceTag[1])
                    const totalNumber = Number(currentTotal [1])
                    const currentQty = parseInt(qty.val())
                    const response = await axios.post('/decrease-cart',{productId})
                    if( response.data.success === true){
                        const updatedQty = currentQty-1
                        const totalPrice = totalNumber - price
                        total.innerHTML = `₹ ${totalPrice}`
                        if(updatedQty < 2 ){
                            dec.hide()
                        }
                        // console.log(response.data.totalPrice[0].total);
                        totalCartPrice.innerHTML = `₹ ${response.data.totalPrice[0].total}`
                        subtotalCartPrice.innerHTML = `₹ ${response.data.totalPrice[0].total}`
                        qty.val(updatedQty)
                        console.log(response.data.discounted);
                        if( response.data.discounted ) {
                            console.log(222);
                            totalCartPrice.innerHTML = `₹ ${response.data.discounted.discountedTotal}`
                            couponDiscount.innerHTML =  `-₹ ${response.data.discounted.discountAmount}`
                        } else {
                            totalCartPrice.innerHTML = `₹ ${response.data.totalPrice[0].total}`
                        }
                        }
                    
                } catch (error) {
                    console.log(error.message);
                }
            }
        
            async function removeCart(itemId){
                const totalCartPrice = document.getElementById('total')
                    const subtotalCartPrice = document.getElementById('subtotal')
                    const couponDiscount = document.getElementById('coupon-discount')
                    const cartTable = document.getElementById('cart-table')
                    const emptyCart = document.getElementById('empty-cart')
                    const stockOut = document.getElementById('stockOut')
                const response = await axios.patch('/removeCartItem',{ itemId })
                if( response.data.success ){
                    const item = document.getElementById(`cart-row-${itemId}`) 
                    item.style.display = 'none'
                    
                }
                if( response.data.removeItem === true ){
                        const count = document.getElementById('cartCount')
                        currentCount = parseInt(count.innerHTML)
                        updatedCount = currentCount - 1
                        count.innerHTML = updatedCount   
                        if(updatedCount == 0 ){ 
                            console.log(updatedCount, ' updated count');
                            cartTable.style.display = 'none'; emptyCart.style.display = 'block'}
                        
                    }
                    if( response.data.discounted ) {
                           
                            totalCartPrice.innerHTML = `₹ ${response.data.discounted.discountedTotal}`
                            couponDiscount.innerHTML =  `-₹ ${response.data.discounted.discountAmount}`
                        } else {
                            totalCartPrice.innerHTML = `₹ ${response.data.totalPrice[0].total}`
                        }
                }
    

            $(document).ready(function() {  
              $('#discountModal').modal('show');
            });
    
</script>

<%- include('../includes/userFooter.ejs') %>
<%- include('../includes/end.ejs') %>