<%- include('../includes/userHead.ejs') %>
<%- include('../includes/userNavbar.ejs') %>

<style>
    .main-div{
        display: flex;
        justify-content: center;

    }
    .profile-container {
        /* border: .5px solid #6e6e6e2f; */
        box-shadow: 0px 10px 40px 0px rgba(56,74,235,0.2);
    }
    section {
        width: 80%;
    }
    .edit-image{
        text-decoration: none;
    }
    input {
        border-radius: 0!important;
    }
    input.form-control, textarea {
        background-color: #fff;
    }
    input:disabled{
        border: none;
        background-color: #fff;
        font-weight: bold;
    }
    .fs--1 a{
        color: #7a7a7a;
        padding: 10px;
    }

    .fs--1 a.active{
        background-color: #7a7a7a;
        color: #fff;
    }
    
    .fs--1 a:hover {
        background-color: #7a7a7a;
        color: white;
    }
    .orderDetails{
        
    }
    .orderDetails p{
        font-weight: 700;
    }
    .address {
        
    }
    .address p{
        font-weight: 700;
    }
</style>
<div class="main-div m-5">
<section class="font-1">
    <div class="container profile-container p-5">
        <div class="row justify-content-center">

            <div class="col-12">
                <div style="display: flex; justify-content: center;padding-bottom: 20px;">
                    <h3 style="font-weight: 700; color: #1b8f27; padding-bottom: 50px;"><u>Order Confirmed</u></h3>
                </div>
                <div class="col-12 row">
                    <div style="margin-bottom: 20px;" class="col-6  orderDetails pe-5">
                        <P>Order Date : <%= moment(order[0].date).format(shortDateFormat) %></P>
                        <P>Order id : <%= order[0]._id %></P>
                        <P>Amount :  <%= order[0].totalPrice %></P>
                        <P>Payment Method : <%= order[0].paymentMethod %></P>
                    </div>
                    <div class="col-6 address ps-5">
                        <h5><u>Adress</u></h5>
                        <P><%= order[0].address.fullName %></P>
                        <P><%= order[0].address.mobile %>, <%= order[0].address.street %>, <%= order[0].address.village %>, <%= order[0].address.city %></P>
                        <P>PIN : <%= order[0].address.pincode %></P>
                        <P><%= order[0].address.state %></P>
                        
                    </div>
                </div>
                <div class="table" style="display: flex; flex-direction: column; justify-content: center; margin-top: 100px;">
                    <h5 style="font-weight: 700;">Products</h5>
                    <table>
                        <thead>
                            <th></th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>total</th>
                        </thead>
                        <tbody>
                            <% for ( let product of products ){ %>
                             <% var total = product.price * product.quantity %>
                            <tr>
                                <td>
                                    <img width="100" src="/images/product-images/<%= product.productId.image[0] %>" alt="">
                                </td>
                            <td><%= product.productId.name %></td>
                            <td><%= product.productId.brand %></td>
                            <td><%= product.price %></td>
                            <td><%= product.quantity %></td>
                            <td><%= total %></td>
                            
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    
                </div>
                <div style="display: flex; justify-content: center; margin-top: 100px;">
                    <h3 class="" style="font-weight: 700; color: #1b8f27;">Thanks for your order</h3>
                </div>
                

            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
</div>

<%- include('../includes/userFooter.ejs') %>
<%- include('../includes/end.ejs') %>