<%- include('../includes/userHead.ejs') %>
<%- include('../includes/userNavbar.ejs') %>


<!-- Shop Section Begin -->
<section class="shop spad mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="/shop?<% if (brand){%>&&brand=<%= brand %><% } %>">All</a></li>
                                                <% for( let item of category ) { %>
                                                <li><a href="/shop?cat=<%= item._id %><% if (brand){%>&&brand=<%= brand %><% } %>"><%= item.category %></a></li>
                                                <% } %>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li><a href="shop?<% if ( cat ) { %>&&cat=<%= cat %><% } %>">All</a></li>
                                                <% for( let item of brands ) { %>
                                                <li><a href="shop?brand=<%= item %><% if ( cat ) { %>&&cat=<%= cat %><% } %>"><%= item %></a></li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing <%= startingNo %>–<%= endingNo %> of <%= totalCount %> results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <!-- <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">₹ 0 - ₹ 55</option>
                                    <option value="">₹ 55 - ₹ 100</option>
                                </select> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <% for( let product of products) { %>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <a href="/products/<%= product._id %>">
                                <div class="product__item__pic set-bg" data-setbg="/images/product-images/<%= product.image[0] %>">
                                </div>
                            </a>
                            <div class="product__item__text">
                                <h6><%= product.name %></h6>
                                <% if( product.quantity > 0 ) { %>
                                    <a onclick="addToCart('<%= product._id %>')" style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
                                    <% } else { %>
                                        <a class="add-cart text-danger">Out of Stock</a>
                                <% } %>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>₹ <%= product.price %></h5>
                            </div>
                        </div>
                    </div>
                    
                    <% } %>
                    
                    
            
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <% if( currentPage !== 1 ) { %> 
                                <a href="/shop?page=1">1</a>
                            <% } %>
                            <% if( (currentPage > 3) ){ %>
                                <span>...</span>
                            <% } %>
                            <% if( currentPage > 2 ) { %>
                                <a href="/shop?page=<%= prevPage %>"><%= prevPage %></a> 
                            <% } %>
                            <a href="/shop?page=<%= currentPage %>" class="active"><%= currentPage %></a>
                            <% if( hasNextPage ) { %>
                                <a href="/shop?page=<%= nextPage %>"><%= nextPage %></a> 
                            <% } %>
                            <% if( (lastPage - currentPage > 2) ){ %>
                                <span>...</span>
                            <% } %>    
                            <% if( nextPage !== lastPage && currentPage !== lastPage ) { %>
                                <a href="/shop?page=<%= lastPage %>"><%= lastPage %></a>
                            <% } %>
                            
                            
                            <!-- <a href="#">21</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->



<div class="modal fade top rounded-0" style="background-color: #000000a2;" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-dialog-centered modal-full-width modal-full-width" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header bg-danger rounded-0">
        <h5 class="modal-title" id="successModalLabel">OOPS!!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Oops! It seems you've reached the maximum quantity of products available for purchase.</p>
      </div>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    async function addToCart( productId ){

        try {

            const response = await axios.post('/add-to-cart',{ productId })
            if( !response.data.login ) {
                return window.location.href = '/login'
            } 
            if( response.data.outOfStock ) {
                const bdy = document.body
                const modal = document.getElementById('modalCookie1')
                const successModal = document.getElementById("successModal");

                // Show the success modal
                successModal.classList.add("show");
                successModal.style.display = "block";
                bdy.style.overflow = 'hidden'
                
                // Hide the success modal when clicked anywhere
                successModal.addEventListener("click", () => {
                    successModal.classList.remove("show");
                    successModal.style.display = "none";
                    bdy.style.overflow = 'auto'
                    
                });
            }
            if( response.data.newItem === true ){
                console.log(response.data.newItem, 'new' );
                const count = document.getElementById('cartCount')
                
                currentCount = parseInt( count.innerHTML )
                
                updatedCount = currentCount + 1
                count.innerHTML = updatedCount                 
            }
        } catch ( error ) {
            console.log(error.message);
        }
    }
</script>


<%- include('../includes/userFooter.ejs') %>
<%- include('../includes/end.ejs') %>