<%- include('../includes/userHead.ejs') %>
<%- include('../includes/userNavbar.ejs') %>




<!-- Shop Details Section Begin -->
<section style="padding-top: 90px;" class="shop-details mt-5">
    <div class="product__details__pic">
        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <% for(let i = 0 ; i < product[0].image.length; i++) { %>
                        <li class="nav-item">
                            <a class="nav-link <% if (i === 0) { %>active<% } %>" data-toggle="tab" href="#tabs-<%= i+1 %>" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="/images/product-images/<%= product[0].image[i] %>">
                                </div>
                            </a>
                        </li>
                        <% } %>                        
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        <% for(let i = 0 ; i < product[0].image.length; i++) { %>
                        <div class="tab-pane <% if (i === 0) { %>active<% } %>" id="tabs-<%= i+1 %>" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="/images/product-images/<%= product[0].image[i] %>" id="product-image" class="zoom-img-n" alt="Product image">
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4><%= product[0].name %></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - 5 Reviews</span>
                        </div>
                        <% if ( product[0].offer){ var discount = (product[0].price * product[0].offer.percentage / 100).toFixed(0)  } else if ( product[0].category.offer ) {var discount = ( product[0].price * product[0].category.offer.percentage / 100 ).toFixed(0) } %>
                        <% if ( product[0].offer ) { %>
                            
                            <h3 class="mb-0">₹ <%= product[0].price - discount %> <span class=""> ₹ <%= product[0].price %> </span> </h3>
                            <h5> <span style="text-decoration: none; color: #fff;" class="badge badge-success"> Save ₹ <%= discount %> </span></h5>
                        <%} else if ( product[0].category.offer ) { %>
                            <p class="mb-0"><del>₹ <%= product[0].price %></del></p>
                            <h5 class="mb-0 fw-700">₹ <%= product[0].price - discount %> <span class="badge badge-success"> Save ₹ <%= discount %> </span></h5>
                         <% } else { %>
                            <h5>₹ <%= product[0].price %> </h5>
                        <% } %>
                        <!-- <h3>₹270.00 <span>70.00</span></h3> -->
                        <p><%= product[0].description %></p>
                        <div class="product__details__cart__option">
                            <!-- <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div> -->
                            <a style="cursor: pointer;" onclick="addToCart('<%= product[0]._id %>')" class="primary-btn text-white">add to cart</a>
                        </div>
                        <div class="product__details__btns__option">
                            <a style="cursor: pointer;" onclick="addtoWishlist('<%= product[0]._id %>')"><i class="fa fa-heart"></i> add to wishlist</a>
                        </div>
                        <div class="product__details__last__option">
                            <h5><span>Guaranteed Safe Checkout</span></h5>
                            <img src="/user/img/shop-details/details-payment.png" alt="">
                            <ul>
                                <li><span>SKU:</span> 3812912</li>
                                <li><span>Categories:</span> <%= product[0].category.category %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Shop Details Section End -->




<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Product</h3>
            </div>
        </div>
        <div class="row">
            <% for( let item of related ) { %>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <a href="/products/<%= item._id %>">
                        <div class="product__item__pic set-bg" data-setbg="/images/product-images/<%= item.image[0] %>">
                        </div>
                    </a>
                    <div class="product__item__text">
                        <h6><%= item.name %></h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <% if ( item.offer ){ var discount = ( item.price * item.offer.percentage / 100 ).toFixed( 0 )  } else if ( item.category.offer ) { var discount = ( item.price * item.category.offer.percentage / 100 ).toFixed( 0 ) } %>
                        <% if ( item.offer ) { %>
                            <p class="mb-0"><del>₹ <%= item.price %></del></p>
                            <h5 class="mbitem-0">₹ <%= item.price - discount %> <span class="badge badge-success"> Save ₹ <%= discount %> </span></h5>
                        <%} else if ( item.category.offer ) { %>
                            <p class="mb-0"><del>₹ <%= item.price %></del></p>
                            <h5 class="mb-0 fw-700">₹ <%= item.price - discount %> <span class="badge badge-success"> Save ₹ <%= discount %> </span></h5>
                         <% } else { %>
                            <h5>₹ <%= item.price %> </h5>
                        <% } %>
                        
                    </div>
                </div>
            </div>
            
            <% } %>

        
        </div>
    </div>
</section>
<!-- Related Section End -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/jquery-zoom/jquery.ez-plus.js"></script>
<script src="/js/jquery-zoom/jquery.mousewheel.js"></script>

<script>

$(`.zoom-img-n`).ezPlus({

container: 'ZoomContainer',
attrImageZoomSrc: 'zoom-image', // attribute to plugin use for zoom
borderColour: '#888',
borderSize: 0,
constrainSize: true,  //in pixels the dimensions you want to constrain on
constrainType: false,  //width or height
containLensZoom: true,
cursor: 'inherit', // user should set to what they want the cursor as, if they have set a click function
debug: false,
easing: true, // easing effects
easingAmount: 10,
enabled: true,

// gallery options
gallery: false,
galleryActiveClass: 'zoomGalleryActive',
gallerySelector: false,
galleryItem: 'a',
galleryEvent: 'click',

// enable cross-fade effect
imageCrossfade: false,

// lens options
lensBorderColour: '#000',
lensBorderSize: 1,
lensColour: 'white', //colour of the lens background
lensFadeIn: false,
lensFadeOut: false,
lensOpacity: 0.4, //opacity of the lens
lensShape: 'square', //can be 'round'
lensSize: 100,
lenszoom: false,

// image loading spinner
loadingIcon: false, //http://www.example.com/spinner.gif

// This change will allow to decide if you want to decrease
// zoom of one of the dimensions once the other reached it's top value,
// or keep the aspect ratio, default behaviour still being as always,
// allow to continue zooming out, so it keeps retrocompatibility.
mantainZoomAspectRatio: true,
maxZoomLevel: false,
minZoomLevel: 2,

// callbacks
onComplete: $.noop,
onDestroy: $.noop,
onImageClick: $.noop,
onImageSwap: $.noop,
onImageSwapComplete: $.noop,
onShow: $.noop,
onHide: $.noop,
onZoomedImageLoaded: $.noop,

preloading: 1, //by default, load all the images, if 0, then only load images after activated (PLACEHOLDER FOR NEXT VERSION)
respond: [],
responsive: true,
scrollZoom: false, //allow zoom on mousewheel, true to activate
scrollZoomIncrement: 0.1,  //steps of the scrollzoom
showLens: true,
tint: false, //enable the tinting
tintColour: '#333', //default tint color, can be anything, red, #ccc, rgb(0,0,0)
tintOpacity: 0.4, //opacity of the tint
touchEnabled: true,

// zoom options
zoomActivation: 'hover', // Can also be click (PLACEHOLDER FOR NEXT VERSION)
zoomContainerAppendTo: 'body', //zoom container parent selector
zoomId: -1, // identifier for the zoom container
zoomLevel: 1, //default zoom level of image
zoomTintFadeIn: false,
zoomTintFadeOut: false,
zoomType: 'window', //window is default,  also 'lens' available -
zoomWindowAlwaysShow: false,
zoomWindowBgColour: '#fff',
zoomWindowFadeIn: false,
zoomWindowFadeOut: false,
zoomWindowHeight: 300,
zoomWindowOffsetX: 0,
zoomWindowOffsetY: 0,
zoomWindowPosition: 1, //Possible values: 1-16, but we can also position with a selector string.
zoomWindowWidth: 300,
zoomEnabled: true, //false disables zoomwindow from showing
zIndex: 999

});

</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    async function addToCart( productId ){

        try {
            console.log(productId);
            const response = await axios.post('/add-to-cart',{productId})
            console.log(response.data);
            if( !response.data.login ){
                return window.location.href = '/login'
            } 
            if( response.data.newItem === true ){
                const count = document.getElementById('cartCount')
                currentCount = parseInt(count.innerHTML)
                updatedCount = currentCount + 1
                count.innerHTML = updatedCount                 
            }
        } catch (error) {
            console.log(response.status);
        }
    }

    async function addtoWishlist( productId ){
        const response = await axios.post( '/add-to-wishlist',{ productId })
    }
</script>


<%- include('../includes/userFooter.ejs') %>
<%- include('../includes/end.ejs') %>